*{
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

h1{
    font-family: 'Yellowtail', cursive;
    font-size: 60px;
}

nav{
    display: grid;
    grid-template-columns: 10% 80% 10%;
    margin: auto;
    background-color: black;
}

.menu-icon{
    position: relative;
    left: 0;
    justify-self: center;
    align-self: center;
}

ul{
    display: flex;
    flex-direction: column;
}

li{
    list-style-type: none;
    color: white;
}

h2{
    color: white;
    
}

figure, h1, h2{
    text-align: center;
}

.project-title{
    text-align: center;
}

.project-fig{
    margin: 0;
}

.technology{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}

h5 {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;
}

.html {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
    justify-self: center;
}

.js {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
    justify-self: center;
}

.jquery {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 3;
    justify-self: center;
}

.project-links{
    display: flex;
    justify-content: space-evenly;
}

.contacts{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.contact-container{
    display:grid;
    grid-template-columns: 0 1fr 2fr 0;
}

.contact-label{
    align-items: center;
}

@media only screen and (max-width: 700px){
    .nav-menu{
        display: none;
    }
}

@media only screen and (min-width: 700px){
    .menu-icon{
        display: none;
    }

    h2{
        display: none;
    }
    .nav-menu{
        display:flex;
        flex-direction: row;
        justify-content: flex-start;
        width: 100%;
        margin: 0;
        padding: 0;
    }
    li{
        margin-left: 125%;
        margin-right: 125%;
    }

    .main-fig{
        text-align: left;
    }
    
    .main-fig img{
        height: 300px;
        width: 300px;
    }

    summary{
        padding-left: 50%;
        padding-right:15%;   
    }

    summary h4{
        text-align: left;
        display: inline;
    }

    .container{
        display: flex;
        justify-content: space-evenly;
    }

    .bio{
        width: 40%;
        padding-top: 40px;
    }

    .bio p{
        padding-bottom: 40px;
    }

    h4{
        text-align: center;
    }

    .grid-container{
        display: grid;
        grid-template-columns: 50% 50%;
        grid-column-gap: 20px;
    }

    .project-links {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 2;
        grid-row-end: 3;
        justify-content: space-between;
        align-items: flex-end;
        padding: 10px 40px;
    }

    .project-links a{
        padding: 0 30px;
    }

    .technology {
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 2;
        grid-row-end: 3;
        justify-content: space-between;
    }
    

    .contacts{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
}