*{
    box-sizing: content-box;
    font-family: 'Lato', sans-serif;
    color: #30081C;
    background-color: #5990B2;
    overflow-x: hidden;
    overflow-wrap: break-word;
    z-index: 1;
}

html, body {
    max-width: 100%;

}

h1{
    font-family: 'Yellowtail', cursive;
    font-size: 56px;
    margin: auto;
    
}

body{
    margin: 0;
    padding: 0;
}

section{
    margin: 0;
    padding: 0;
    width: 100%;
    z-index: 1;
}

p{
    font-weight: 400;
    margin: 20px 10px;
    
}

a{
    color: #C1B5AC;
    text-decoration: none;
    cursor: pointer;
}

a:visited{
    color: #FFD3D4;
}

a:hover{
    color: #ffffff;
}

.nav-links{
    background-color: #30081C;
}

nav{
    width: 80px;
    height: 60px;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #30081C;
    z-index: 2;
}

.nav-menu{
    background-color: #30081C;
}

.nav-container{
    width: 100%;
    height: 80px;
    display: grid;
    grid-template-columns: 80px 80%;
    align-items: center;
}

.nav{
    margin: 0;
    display: block;
    text-align: left;
    background-color: #30081C;
}

.nav-title{
    width: 100%;
    background-color: #30081C;
}

h2{
    color: #C1B5AC;
    background-color: #30081C;
    width: 100%;
    padding: 15.5px 0;
    margin: 0;  
}

.menu-icon{
    background-color: #30081C;
}

img{
    border-radius: 5px;
    color: #C1B5AC;
}

figure, h1, h2{
    text-align: center;
}

h4{
    margin: 20px 0;
    font-size: 18px;
}

article{
    margin: 20px 20px;
}

.project-title{
    font-size: larger;
    margin: 30px 0;
    text-align: center;
}

.project-fig{
    margin: 0;
    padding: 0;
}

.technology{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 60px 60px;
    width: 80%;
    margin: auto;
    justify-content: center;
    align-items: center;
}

.tech-used{
    object-fit: cover;
}

h5 {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;
    text-align: center;
}

.html {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
    justify-self: center;
}

.js {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
    justify-self: center;
}

.jquery {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 3;
    justify-self: center;
}

.project-links{
    display: flex;
    justify-content: space-evenly;
    margin: 10px;
}


.contacts{
    display:grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    justify-content: center;
}

.contact-label{
    justify-self: center;
}

@media only screen and (min-width: 700px){

    h2{
        display: none;
    }

    ul{
        margin: 0;
    }

    li{
        margin: auto;
        font-weight: 600;
    }

    .nav-container{
        display:block;
    }

    nav{
        display:flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        width: 100%;
    }

    h4{
        margin: 0;
        display: inline;
    }

    .main-fig{
        text-align: left;
        align-self: center;
    }
    
    .main-fig img{
        height: 200px;
        width: 200px;
    }

    article{
        display: inline;
        text-align: center;
        margin: 20px auto 20px 10px;
    }

    .container{
        width: 100%;
        display: flex;
        justify-content: space-evenly;
    }

    .bio{
        width: 40%;
    }

    .bio p{
        padding-bottom: 10px;
    }

    h4{
        margin: 20px auto;
        text-align: center;
    }

    .project-desc{
        margin: 0;
    }

    .grid-container{
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: 125px 2px 2px 150px;
    }

    .project-title{
        margin: auto;
        text-align: center;
    }

    .project-fig img{
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 1;
        grid-row-end: 4; 
        margin: 0;
        justify-content: center;
        align-items: center;
    }

    .project-links {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 4;
        grid-row-end: 5;
        justify-content: space-around;
        align-items: center;
        padding: 0;
    }

    .technology {
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 3;
        grid-row-end: 5;
        justify-content: space-between;
    }
    

    .contacts{
        margin: 100px 0;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
    }

    .email-img{
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 1;
        grid-row-end: 3;
        justify-self: center;
    }

    .email-img img{
        width: 100px;
        height: 100px;
    }

    .github-img img{
        width: 100px;
        height: 100px;
    }

    .linkedin-img img{
        width: 100px;
        height: 100px;
    }

    .email-label{
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 3;
        grid-row-end: 4;
        justify-self: center;
    }
    .github-img{
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 1;
        grid-row-end: 3;
        justify-self: center;
    }
    .github-label{
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 3;
        grid-row-end: 4;
        justify-self: center;
    }
    .linkedin-img{
        grid-column-start: 3;
        grid-column-end: 4;
        grid-row-start: 1;
        grid-row-end: 3; 
        justify-self: center;
    }
    .linkedin-label{
        grid-column-start: 3;
        grid-column-end: 4;
        grid-row-start: 3;
        grid-row-end: 4;
        justify-self: center;
    }
}
@media only screen and (min-width: 1000px){
    h1{
        font-size: 10vw;
    }

    h2{
        font-size: 2vw;
    }

    h4{
        font-size: 2vw;
    }

    h5{
        font-size: 2vw;
    }

    h6{
        font-size: 1.5vw;
    }

    ul{
        font-size: 0;
    }

    li{
        font-size: 2vw;
    }
    
    h4 .project-title{
        font-size: 3vw;
    }

    p{
        font-size: 1.5vw;
    }
    
    a{
        font-size: 1.5vw;
    }

    .project-title{
        font-size: 3vw;
        margin: 20px;
    }

    .technology {
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 2;
        grid-row-end: 4;
        justify-content: space-between;
    }
}