* {
	box-sizing: content-box;
	font-family: 'Lato', sans-serif;
	color: #30081c;
	background-color: #5990b2;
	overflow-x: hidden;
	overflow-wrap: break-word;
	z-index: 1;
}

html,
body {
	max-width: 100%;
}

h1 {
	font-family: 'Yellowtail', cursive;
	font-size: 3.5rem;
	margin: auto;
}

body {
	margin: 0;
	padding: 0;
}

.bio {
	text-align: left;
	margin: 0;
	padding: 0;
	width: 100%;
	z-index: 1;
}

p {
	font-size: 1rem;
	font-weight: 500;
	margin: 1.25em 0.625em;
}

hr {
	height: 1px;
	width: 75%;
	margin: 1.5em auto;
	background-color: #30081c;
	border-style: solid;
	border-color: #30081c;
}

a {
	color: #c1b5ac;
	font-size: 1em;
	text-decoration: none;
	cursor: pointer;
	transition: color 0.35s ease-in;
}

a:visited {
	color: #ffd3d4;
}

a:hover {
	color: #ffffff;
	text-decoration: underline;
}

.nav-links {
	background-color: #30081c;
}

nav {
	width: 80px;
	height: 60px;
	margin: 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: #30081c;
	z-index: 2;
}

.nav-menu {
	background-color: #30081c;
}

.nav-container {
	width: 100%;
	height: 80px;
	display: grid;
	grid-template-columns: 80px 80%;
	align-items: center;
}

.nav {
	margin: 0;
	display: block;
	text-align: left;
	background-color: #30081c;
}

.nav-title {
	width: 100%;
	background-color: #30081c;
}

.mobile-heading {
	color: #c1b5ac;
	background-color: #30081c;
	width: 100%;
	padding: 15.5px;
	margin: 0;
}

.menu-icon {
	background-color: #30081c;
	transition: width 0.5s ease-in, height 0.5s ease-in;
}

.menu-icon:hover {
	height: 50px;
	width: 50px;
}

.main-fig > img:hover {
	height: 600px;
	width: 600px;
}

img {
	border-radius: 5px;
	color: #c1b5ac;
}

figure,
h1,
h2 {
	text-align: center;
}

h4 {
	margin: 2em;
	font-size: 2rem;
	text-align: center;
}

article {
	margin: 1.25em 1.25em;
}

.project-title {
	margin: 0.5em 0.75em 1em;
}

.project-fig {
	width: fit-content;
	margin: 0 auto;
	padding: 0;
}

.project-desc {
	text-align: center;
}

.tech-used {
	object-fit: cover;
	justify-content: center;
}

h5 {
	font-size: 1.75rem;
	text-align: center;
	margin: 1em;
	margin-top: 0;
}

.tech-box {
	display: flex;
	flex-direction: column;
}

.tech-icons {
	display: flex;
	justify-content: space-evenly;
}

.project-link {
	justify-self: center;
	text-align: center;
	padding: 0.5em;
	margin: 1em;
}

.server {
	grid-column-start: 1;
	grid-column-end: 3;
	grid-row-start: 2;
	grid-row-end: 3;
}

.project-links {
	display: flex;
	justify-content: space-evenly;
}

.write-in-tech {
	font-size: 1rem;
	color: #30081c;
	margin: 1em 0;
}

.contacts {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 1fr 1fr 1fr;
	justify-content: center;
}

.contact-label {
	justify-self: center;
}

.alt-heading {
	display: none;
}

@media only screen and (min-width: 750px) {
	.mobile-heading {
		display: none;
	}

	.menu-icon {
		display: contents;
	}

	h1 {
		font-size: 7rem;
	}

	.alt-heading {
		font-size: 4rem;
		color: #30081c;
		width: max-content;
		padding: 0;
		margin: 1em;
	}

	h4 {
		text-align: center;
		font-size: 3rem;
		margin: 0.5em 0.125em 0.25em;
	}

	ul {
		margin: 0;
	}

	li {
		margin: auto;
		font-weight: 600;
	}

	.nav-container {
		display: block;
	}

	nav {
		font-size: 1.5rem;
		display: flex;
		flex-direction: row;
		justify-content: space-evenly;
		align-items: center;
		width: 100%;
	}

	.main-fig {
		margin: 2rem;
		text-align: left;
		align-self: flex-start;
	}

	.main-fig img {
		height: 540px;
		width: 540px;
	}

	article {
		display: inline;
		text-align: center;
		margin: 1.25em auto 1.25em 0.625em;
	}

	.container {
		width: 100%;
		display: grid;
		align-items: center;
		grid-template-columns: repeat(2, 50%);
		justify-content: center;
	}

	.bio p {
		padding-bottom: 0.625em;
	}

	.project-desc {
		grid-column-start: 1;
		grid-column-end: 2;
		grid-row-start: 2;
		grid-row-end: 3;
		margin: 0;
		text-align: left;
	}

	.grid-container {
		display: grid;
		margin: 1em;
		height: 100%;
		padding: 0 4em;
		grid-gap: 1em;
		grid-template-columns: repeat(2, 50%);
		grid-template-rows: repeat(2, max-content);
	}

	.project-fig img {
		grid-column-start: 1;
		grid-column-end: 2;
		grid-row-start: 1;
		grid-row-end: 4;
		margin: 0;
		justify-content: center;
		align-items: center;
	}

	.project-links {
		justify-content: space-around;
		align-items: flex-start;
		padding: 0;
	}

	.contacts {
		margin: 100px 0;
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
		grid-template-rows: 1fr 1fr 1fr;
	}

	.email-img {
		grid-column-start: 1;
		grid-column-end: 2;
		grid-row-start: 1;
		grid-row-end: 3;
		justify-self: center;
	}

	.email-img img {
		width: 100px;
		height: 100px;
	}

	.github-img img {
		width: 100px;
		height: 100px;
	}

	.linkedin-img img {
		width: 100px;
		height: 100px;
	}

	.email-label {
		grid-column-start: 1;
		grid-column-end: 2;
		grid-row-start: 3;
		grid-row-end: 4;
		justify-self: center;
	}
	.github-img {
		grid-column-start: 2;
		grid-column-end: 3;
		grid-row-start: 1;
		grid-row-end: 3;
		justify-self: center;
	}
	.github-label {
		grid-column-start: 2;
		grid-column-end: 3;
		grid-row-start: 3;
		grid-row-end: 4;
		justify-self: center;
	}
	.linkedin-img {
		grid-column-start: 3;
		grid-column-end: 4;
		grid-row-start: 1;
		grid-row-end: 3;
		justify-self: center;
	}
	.linkedin-label {
		grid-column-start: 3;
		grid-column-end: 4;
		grid-row-start: 3;
		grid-row-end: 4;
		justify-self: center;
	}
}
@media only screen and (min-width: 1000px) {
	h1 {
		font-size: 10vw;
	}

	h2 {
		font-size: 2vw;
	}

	h4 {
		font-size: 4vw;
	}

	h5 {
		font-size: 2vw;
	}

	h6 {
		font-size: 1.5vw;
	}

	ul {
		font-size: 0;
	}

	li {
		font-size: 2vw;
	}

	h4 {
		font-size: 3vw;
	}

	p {
		font-size: 1.5vw;
	}

	a {
		font-size: 1.5vw;
	}

	/* .tech-box {
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 2;
        grid-row-end: 4;
        display: flex;
        justify-content: space-between;
    } */
}
